<template>
  <div>
    <h3>Todos</h3>
    <div class="legend">
      <span>Double click to complete</span>
      <span>
        <span class="incomplete-box"></span> = Incomplete
      </span>
      <span>
        <span class="complete-box"></span> = Complete
      </span>
    </div>
    <div class="todos">
      <div
        @dblclick="onDblClick(todo)"
        v-for="todo in allTodos"
        :key="todo.id"
        class="todo"
        v-bind:class="{'is-complete':todo.completed}"
      >
        {{ todo.title }}
        <button @click="deleteTodo(todo.id)" class="remove">&times;</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Todos",
  methods: {
    ...mapActions(["fetchTodos", "deleteTodo", "updateTodo"]),
    onDblClick(todo) {
      const updTodo = {
        id: todo.id,
        title: todo.title,
        completed: !todo.completed
      };

      this.updateTodo(updTodo);
    }
  },
  computed: mapGetters(["allTodos"]),
  created() {
    this.fetchTodos();
  }
};
</script>

<style scoped>
.todos {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1rem;
}

.todo {
  border: 1px solid #ccc;
  background: snow;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  cursor: pointer;
}

.legend {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.complete-box {
  display: inline-block;
  border: 1px solid #ccc;
  width: 10px;
  height: 10px;
  background: lightblue;
}

.incomplete-box {
  display: inline-block;
  border: 1px solid #ccc;
  width: 10px;
  height: 10px;
  background: snow;
}

.is-complete {
  background: lightblue;
  color: #fff;
}
</style>
